language: java

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

before_install:
 - chmod +x gradlew

script:
 - ./gradlew test --tests logicalobjects.*
 - ./gradlew test --tests visualobjects.*
 - ./gradlew test --tests gui.*
 - ./gradlew test --tests command.*

jdk:
  - oraclejdk8
